
html {
    background-color: #424874;
}

/*align buttons horizontally*/
#all-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*center everything in body and contents of the "create" button*/
body, .button-containers {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

/*style add button*/
#create-button-container button {
    border-radius: 5px;
    border-color: #D6E5E3;
}

/*style archive and settings button*/
#archive-settings-container button{
    border-radius: 25px;
    border-color: #D6E5E3;
}

h1{
    color: #D6E5E3;
}