{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Minute-Meet - Automatic Transcriber & Summarizer</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="{% static 'minuteMeet/base.css' %}">
        <link rel="stylesheet" href="{% static 'minuteMeet/archivePage/archive.css' %}">
        <script src="{% static 'minuteMeet/archivePage/archive.js' %}" defer></script>
    </head>
    <body>
     <!--display header template-->
     {% include 'partials/header.html' %} 
    
     <p>archive page</p>
    <!--display footer template-->
    {% include 'partials/footer.html' %} 
        
    </body>
</html>
