{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Minute-Meet - Automatic Transcriber & Summarizer</title>
    <link rel="stylesheet" href="{% static 'minuteMeet/base.css' %}">
    <link rel="stylesheet" href="{% static 'minuteMeet/homePage/home.css' %}">
    <script src="{% static 'minuteMeet/homePage/home.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>  
</head>
<body>
    <!--display header template-->
    {% include 'partials/header.html' %}

    <main>
        <section id="controls">
            <div class="button-container" id="create-button-container">
                <button type="button" id="create-button">+</button>
                <h4>New Recording</h4>
            </div>

            <div class="form-container">
                <form id="uploadForm" enctype="multipart/form-data">
                    <button type="button" id="cancel-button">x</button>
                    <label>Please submit an audio file to transcribe and download.</label>
                    <input type="file" id="audioFile" accept="audio/*">
                    <button type="submit">Upload & Transcribe</button>
                </form>
            </div>

            <div class="button-container" id="archive-settings-container">
                <button type="button" id="upload-audio-button">Audio File</button>
                <button type="button" id="summary-button">Summaries</button>
                <button type="button" id="settings-button">Settings</button>
            </div>
        </section>
    </main>

    <!--display footer template-->
    {% include 'partials/footer.html' %} 
</body>
</html>
