{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Minute-Meet - Automatic Transcriber & Summarizer</title>
    <link rel="stylesheet" href="{% static 'minuteMeet/home.css' %}">
    <script src="{% static 'minuteMeet/index.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> 
</head>
<body>
    <header>
        <h1>Minute-Meet</h1>
        <h3>An AI-powered <strong>Transcriber & Summarizer</strong></h3>
    </header>

    <main>
        <section id="controls">
            <div class="button-container" id="create-button-container">
                <button type="button" id="create-button">+</button>
                <h4>New Recording</h4>
            </div>

            <div class="button-container" id="archive-settings-container">
                <button type="button" id="archive-button">Past Summaries</button>
                <button type="button" id="settings-button">Settings</button>
            </div>
        </section>
    </main>

    <footer>
        <p>
            <a href="https://github.com/r-fairhurst/MeetnSleep/" target="_blank">
                <i class="fab fa-github"></i> View on GitHub
            </a>
        </p>
        <p>Developers:</p>
        <p class="developer-names">
            Ryan Fairhurst, William Morton, Ian McKee, Nadir Isweesi, 
            Arianna Valencia, Aidan Daly, Aiden Reedy
        </p>
    </footer>
</body>
</html>
