{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Minute-Meet - Automatic Transcriber & Summarizer</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'minuteMeet/home.css' %}">
        <script src="{% static 'minuteMeet/index.js' %}"></script>
    </head>
    <body>
        <h1>Minute-Meet</h1>
        <h3>An Online and In-Person Meeting <strong>Transcriber and Summarizer</strong>, Powered by Python and AI</h2>
        <p>Working GitHub repository: <a href="https://github.com/r-fairhurst/MeetnSleep/">https://github.com/r-fairhurst/MeetnSleep/</a></p>

        <p>Developers: <i>Ryan Fairhurst, William Morton, Ian McKee, Nadir Isweesi, Arianna Valencia, Aidan Daly, Aiden Reedy</i></p>
        
        <!--container to format buttons-->
        <div id="all-buttons">
            <!--container for the new recording button and text-->
            <div class="button-containers" id="create-button-container">
                <!--new recording button-->
                <button type="button" id="create-button">+</button>
                <h4>Start a New Recording</h4>
            </div>
            <!--container for the archive and settings buttons-->
            <div class="button-containers" id="archive-settings-container">
                <!--archive button-->
                <button type="button" id="archive-button">Past Summaries</button>
                <!--settinfs button-->
                <button type="button" id="settings-button">Settings</button>
            </div>
        </div>
        
    </body>
</html>
