{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Minute-Meet - Automatic Transcriber & Summarizer</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'minuteMeet/base.css' %}">
        <link rel="stylesheet" href="{% static 'minuteMeet/recordingPage/recording.css' %}">
        <script src="{% static 'minuteMeet/recordingPage/index.js' %}"></script>        
    </head>
    <body>
        <!-- include header template -->
        {% include 'partials/header.html' %}

        <div id="transcript-container">
            <h2>Live Transcript:</h2>
        </div>

        <section id="controls">
            <div class="button-container" id="start-button-container">
                <button type="button" id="start-button">▶️</button>
            </div>
            <div class="button-container" id="stop-button-container">
                <button type="button" id="stop-button">⏹</button>
            </div>
        </section>

        <!-- include footer template -->
        {% include 'partials/footer.html' %}
    </body>
</html>
