/*************************************************
for all recording page specific css changes
*************************************************/

/* Transcript Container Styling */
#transcript-container {
    width: 80%;
    max-width: 800px;
    margin-top: 10px;
}

/* Instructions Container Styling */
#instructions-container {
    width: 70%;
    max-width: 700px;
    margin: 20px auto;
    font-size: 1.1rem;
    padding: 15px;
    line-height: 1.5;
}