/*************************************************
for all recording page specific css changes
*************************************************/

/* Transcript Container Styling */
#transcript-container {
    width: 80%;
    max-width: 800px;
    margin-top: 10px;
}
