/*************************************************
for all recording page specific css changes
*************************************************/

/* Transcript Container Styling */
#transcript-container {
    width: 80%;
    max-width: 800px;
    margin-top: 10px;
}

/*
#stop-button {
    font-size: 2rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 0;
    background: #ff4d4d;
    color: #ffffff;
    box-shadow: 3px 3px 10px rgba(255, 77, 77, 0.3);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stop-button:hover {
    background: #ff4d4d;
    transform: scale(1.1);
    box-shadow: 4px 4px 15px rgba(255, 77, 77, 0.3);
} */